# Configuration file for Visitors

# the basepath for the extension
# this path defaults to  /visitors, /visitors/login, /visitors/view and /visitors/logout
basepath: "visitors"

# enabled OpenID providers
# options are dependent on the values for hybridauth
providers:
  Google:
    enabled: true
    keys:
      id: "*** your id here ***"
      secret: "*** your secret here ***"
  Facebook:
    enabled: true
    keys:
      id: "*** your id here ***"
      secret: "*** your secret here ***"
  Twitter:
    enabled: true
    keys:
      id: "*** your key here ***"
      secret: "*** your secret here ***"
  OpenID:
    enabled: true


